/* MEDIA QUERY MOBILE */

@media only screen and (max-width: 979px) {
	.about__content {
		display: flex;
		flex-direction: column;
		.about__img__container {
			margin: 0 auto;
			margin-top: 25px;
			width: 300px;
			height: 300px;
			object-fit: cover;
		}
	}
}

//////////////// DESKTOP/////////////////

@media (min-width: 980px) and (max-width: 2500px) {
	.about__content {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	.about__img__container {
		width: 340px;
		height: 370px;
		margin-top: 70px 0;
		flex-basis: 30%;
	}
	.about__text__container {
		flex-basis: 60%;
	}
}


////////////////// ALL DEVICES //////////////// 

.about {
	background-color: #1c1e25;
	// background-color: #3e4444;
	color: #fff;
	.about__content {
		margin-top: 35px;
	}
	.about__text__container {
		.about__text__title {
			margin: 20px;
			text-align: center;
		}
		p {
			line-height: 25px;
			font-weight: 400;
			font-size: 18px;
			word-spacing: 2px;
			padding: 30px;
		}
	}
	.about__img {
		width: 100%;
		height: 80%;
		object-fit: cover;
		box-shadow: 7px 7px 7px 0 rgba(248, 246, 246, 0.2);
		border-radius: 10px;
	}
	.about__hide {
		display: none;
	}

	button {
		width: 120px;
		height: 50px;
		border: 2px solid #9bd3d9;
		border-radius: 10px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		align-items: center;
		margin: 20px;
		background-color: #9bd3d9;
		transition: 0.5s;
		&:hover {
			background: transparent;
			cursor: pointer;
		}
	}
}
